#impactasaurus {
  .dropdown-checkbox {
    margin-right: 1.2em;
    .dropdown.icon {
      margin-left: 0.6em;
    }
    &.selections {
      color: var(--brand-color);
    }
    .search-container {
      padding: 10px !important;
      cursor: default;
      &:hover {
        background-color: white;
      }
      .input {
        margin: 0;
        width: 100%;
      }
    }
  }
}
