.ui.card {
  .meeting-radar {
    width: 10em;
    margin: 0px auto;
  }
  .content {
    .description {
      text-align: justify;
      white-space: pre-wrap;
    }
  }
  .extra.content.tags-0 {
    display: none;
  }
  .topper, .description {
    cursor: pointer;
  }
}
