#home {
  .title-holder {
    h1 {
      margin-bottom: 1em;
      display: inline-block;
    }
    .ui.button {
      position: absolute;
      right: 0px;
    }
  }
  .ui.loader.end-of-timeline {
    margin-top: 3em;
  }
}
