@smallScreenIcon: ~'i.icon:not(.required)';



#impactasaurus {
  .menu.massive {

    @media print {
      display: none;
    }

    #twitter-icon {
      width: 25px;
      height: 25px;
    }

    .item.icon-menu-item {
      padding: 0.5em 1em;
    }

    i.icon {
      margin: 0px;
    }

    @{smallScreenIcon} {
      display: none;
    }

    @media only screen and (max-width: 920px) {
      #twitter-menu-link {
        display: none;
      }
      .right .title, #home-link .title {
        display: none;
      }
      .right @{smallScreenIcon} {
        display: block;
      }
    }

    @media only screen and (max-width: 650px) {
      .title {
        display: none;
      }
      @{smallScreenIcon} {
        display: block;
      }
    }

    @media only screen and (max-width: 450px) {
      .item {
        padding-left: 0.8em;
        padding-right: 0.8em;
      }
    }

    @media only screen and (max-width: 385px) {
      .right .item {
        display: none;
      }
    }
  }
}
