@smallScreenIcon: ~'i.icon.replacement';

#impactasaurus {
  .menu.massive {

    @media print {
      display: none;
    }

    .item i {
      font-size: 0.7em !important;
    }

    .item.icon-menu-item {
      padding: 0.5em 1em;
    }

    #user-menu .text {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media only screen and (max-width: 1030px) {
      .right .title {
        display: none;
      }
      .right @{smallScreenIcon} {
        margin: 0px;
        font-size: 1em !important;
      }
    }

    @media only screen and (max-width: 930px) {
      #home-link .title {
        display: none;
      }
    }

    @media only screen and (max-width: 790px) {
      .title {
        display: none;
      }
      @{smallScreenIcon} {
        margin: 0px;
        font-size: 1em !important;
      }
    }

    @media only screen and (max-width: 560px) {
      .item {
        padding-left: 0.8em;
        padding-right: 0.8em;
      }
    }

    @media only screen and (max-width: 450px) {
      .right .item {
        display: none;
      }
    }
  }
}
