.Wrapper {
  border-radius: 8px;
  display: block;
  background-color: black;
  padding: 1.5em;
  color: white !important;
}

.Icon {
  display: block;
  font-size: 2em;
}

.Title {
  font-weight: bold;
  font-size: 2em;
}

.Text {
  display: block;
}
