#review {
  h1 {
    margin-bottom: 1.5em;
  }
  .viz-cp {
    display: inline-block;
  }
  .qs-selector {
    margin-right: 10px;
    margin-left: 10px;
  }
}
#back_div{
  bottom: 0;
  right: 0px;
    width: 50%;
}
#back-button{
  background-color:#935D8C;
  color: white;
    display: block;
    margin-top: 20px;
    width: 90px;
    padding-left: 3.07142857em !important;
}