@import (reference) './variables.less';

@marginBottom: 10px;

#impactasaurus {
  .impactform {
    .submit {
      background-color: @primary;
      color: @primaryTextColor;
      display: block;
      margin: auto;
      margin-top: 25px;
    }
    .label:not(.ui) {
      display: block;
      margin-top: 25px;
      margin-bottom: @marginBottom;
      text-transform: capitalize;
      &:after {
        content: ":";
      }
      &.optional:after {
        content: " (optional):"
      }
    }
    h3 {
      display: inline-block;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
}
