@import (reference) './variables.less';

#impactasaurus {
  h1 {
    font-size: 2.5em;
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: @accent;
  }
  h1.white {
    color: white;
  }
  h2 {
    font-size: 2.0em;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: @primary;
  }
  h2.white {
    color: white
  }
  h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: @primary;
  }
  h3.white {
    color: white
  }
  h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: @primary;
  }
  h4.white {
    color: white
  }
  a {
    cursor: pointer;
  }

  color: @text;
}
