@primary: var(--brand-color);
@primaryll: var(--brand-color-lighter);
@primaryl: var(--brand-color-light);
@primaryd: var(--brand-color-dark);
@primarydd: var(--brand-color-darker);
@primaryTextColor: white;

@accent: #bccc81;
@accentll: #f3f9dc;
@accentl: #e5f0b8;
@accentd: #99aa53;
@accentdd: #7a8c31;

@peach: #efa8b0;
@purple: #c79cc8;
@mauve: #a89cc8;
@lightblue: #8cc9f0;
@darkblue: #8cc9f0;

@text: #404040;
@gray: rgba(0, 0, 0, 0.7);
@placeholder: darken(lightgray, 20%);
@error: #9f3a38;
