@primary: #17AB97;
@primaryalt: #77D8C8;
@primaryTextColor: white;

@accent: #FA004F;
@accentTextColor: white;

@primaryBacking: #EFEFEF;
@secondaryBacking: #FFF3EB;

@text: #404040;
@gray: @primaryBacking;

@placeholder: darken(lightgray, 20%);
@error: #CF7777;
