.DateTimePicker {
  .btn-save {
    display: none;
  }
  .chevron.icon {
    margin: auto;
    height: 100%;
    width: 100%;

    &.right {
      padding-left: 3px;
    }

    &.left {
      padding-right: 3px;
    }
  }
}
