.split-container {
  .left,
  .right {
    max-height: 100vh !important;
    min-height: 100%;
    overflow-y: auto !important;
  }
  .right #right-close {
    position: absolute;
    top: 1em;
    right: 1em;
    box-shadow: 0px 0px 0px 1px var(--text) inset;
    i {
      color: var(--text);
    }
    &:hover {
      box-shadow: 0px 0px 0px 1px var(--brand-color) inset;
      i {
        color: var(--brand-color);
      }
    }
  }
  .left.split {
    background-color: var(--brand-color-light);
  }
}
#impactasaurus .split-container .split.left .ui.container {
  margin-top: 0;
  margin-bottom: 0;
  .title-holder,
  h1 {
    display: none;
  }
}
