#question-sets{
  h1 {
    margin-bottom: 1.5em;
  }
  .question-set {
    text-align: left;
    .header {
      font-size: 1.4em;
      margin-bottom: 0.2em;
      font-weight: normal;
    }
  }
  .new-control, .edit-control {
    button, input {
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  }
}
