@import (reference) './../../theme/variables.less';

.likert-form {
  padding-bottom: 2em;

  .right {
    float: right;
  }

  .section.likert {
    margin-left: 5em;
    margin-right: 5em;

    .likert-scale {
      margin-top: 0px;
      margin-bottom: 30px;

      .rc-slider-track {
        display: none;
      }

      .rc-slider-dot {
        border-color: @primary;
      }
    }
  }

  .section.lower {
    text-align: left;
  }

  .ui.left.pointing {
    font-weight: normal;
  }
}
