<!DOCTYPE html>
<html>
  <head>
    <title>Impactasaurus</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&amp;subset=greek-ext" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <div id="app"></div>
      <iframe src="/tokenrefresh.html" id="refresh-iframe" style="display:none;"></iframe>
  </body>
</html>
