.new-likert-form {
  .right {
    float: right;
  }
  .full {
    width: 100%;
  }
  .section {
    clear: both;
    margin-bottom: 1em;
    text-align: left;
  }
  .section:first-of-type {
    margin-top: 2em;
  }
  .section.likert {
    margin-left: 5em;
    margin-right: 5em;

    .likert-scale {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
